<div>
  <h1>{{ title }}</h1>
  <p *ngIf="!displayMessage"> this message will be displayed on this basis of some condition</p>
  <button (click)="message()">observe toggle effet</button>
</div>

<!--accepts a number from user. show whether it is even or odd-->
<div>
  <h2>Even Odd Number</h2>
  <p>enter a number : <br> <input type="number" [(ngModel)]="num"></p>
  <p *ngIf="isEvenNumber">The Number {{num}} is even.</p>
  <p *ngIf="isOddNumber">The Number {{num}} is Odd.</p>
</div>

<!--cheking for odd-even number using ngif and elseblock-->

<div>
  <h2>even odd number</h2>
  <p>enter a number : <br> <input type="number" [(ngModel)]="num1"></p>
  <p *ngIf="isEvenNumber1; else elseBlock">the number {{num1}} is even.</p>
  <ng-template #elseBlock>
    the number {{num1}}is odd.
  </ng-template>
</div>
 
<!--ngfor to display the products in products array-->
<div>
  <h2>Display products array</h2>
  <ul>
    <li *ngFor="let product of products">{{product}}</li>
  </ul>
</div>


<!-- consider an array of  10 numbers of choice arranged randomly  
devise a logic to display the even number from that array-->
<div>
  <h2>for and if combo</h2>
  <ul>
    <li *ngFor="let num  of numbers"></li>
    <span *ngIf="isEvenNumber2(num)">Even : {{num}}</span>
    <span *ngIf="isOddNumber2(num)">odd : {{num}}</span>
  </ul>
</div> 

<!--switch case demoi-->  
<div>
<h2>switch case demo</h2>
<p>enter your favorite sports :</p>
<!--<input type="text" [(ngModel)]="sports">
<p [ngSwitch]="sports">
  <span *ngswitchcase="hockey">hockey</span>
  <span *ngswitchcase="crecket">cricket</span>
  <span *ngswitchcase="baseball">baseball</span>
  <span *ngswitchcase="tennis">tennis</span>

</p>-->
</div>
<!--example for ng style-->
<!--<div [ngStyle]="{'background-color':backgroundcolor}">
  this is ngstyle example.

</div>-->

<!-- accept color and font family from user and apply it to the div content-->

<!--<div id="myDiv" [ngStyle]="styleOne && {'background-color': 'red'}">

</div>-->